$tabletSize: 800px;

.user-settings {
  &-toolbar, span {
    text-align: center;
  }

  &-content {
    padding: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;

    &-item {
      align-self: center;
      width: 100%;
      max-width: 600px;
      padding: 10px 10px 0 10px;
      display: flex;
      justify-content: center;

      @media (min-width: $tabletSize) {
        width: 100%;
        padding: 10px;
      }
    }

    &-item > * {
      width: 80%;
    }
  }

  &-actions-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;

    @media (min-width: $tabletSize) {
      padding: 0 20px;
    }
  }
}
