<div class="header">

  <mat-toolbar color="primary">
    <mat-toolbar-row>

      <button mat-button class="header-sidenav-toggle" (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
      </button>

      <div class="header-menu">
        <div class="pointerCursor">
          <span>Template UI</span>
        </div>
        <a mat-button class="btn-no-hover" routerLink="/home">Home</a>
        <a mat-button class="btn-no-hover" *ngIf="usersAccess" (click)="getUsers()">Users</a>
<!--        <a mat-button class="btn-no-hover" (click)="getUsers()">Users</a>-->

      </div>

      <div class="header-actions">
        <div *ngIf="isLoggedOn; then userDetails else logInDetails"></div>
        <ng-template #userDetails>
          <a mat-button class="btn-no-hover" (click)="logout()">Logout </a>
          <!--      <button mat-icon-button routerLink="/people" routerLinkActive="active">-->
          <button mat-icon-button (click)="getProfile()">
            <mat-icon>account_circle</mat-icon>
          </button>
        </ng-template>
        <ng-template #logInDetails>
          <a mat-button class="btn-no-hover" routerLink="/register">Register</a>
          <a mat-button class="btn-no-hover" routerLink="/login">Login</a>
        </ng-template>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>
</div>
