<div class="user-details-profile">
  <mat-toolbar>
    <span>{{'userProfile.title' | translate}}</span>
  </mat-toolbar>

  <!-- user profile detail -->
  <mat-card>
    <mat-card-content>
      <form [formGroup]="userDetailsProfileFormBuilder.form" (ngSubmit)="updatePerson()">
        <div class="user-details-profile-form-container">
          <div class="user-details-profile-form-content">
            <input type="hidden" formControlName="$key">
            <mat-form-field color="primary" appearance="outline">
              <input formControlName="firstName" matInput placeholder="{{'userProfile.firstName' | translate}}">

              <mat-error *ngIf="userDetailsProfileFormBuilder.firstName.hasError('required')">
                {{'form.validation.required' | translate}}
              </mat-error>
              <mat-error *ngIf="userDetailsProfileFormBuilder.firstName.hasError('minLength')">
                {{'form.validation.minLength' | translate: {value: 2} }}
              </mat-error>
            </mat-form-field>

            <mat-form-field color="primary" appearance="outline">
              <input formControlName="lastName" matInput placeholder="{{'userProfile.lastName' | translate}}">

              <mat-error *ngIf="userDetailsProfileFormBuilder.lastName.hasError('required')">
                {{'form.validation.required' | translate}}
              </mat-error>
              <mat-error *ngIf="userDetailsProfileFormBuilder.lastName.hasError('minLength')">
                {{'form.validation.minLength' | translate: {value: 2} }}
              </mat-error>
            </mat-form-field>

            <mat-form-field color="primary" appearance="outline">
              <input formControlName="email" matInput placeholder="{{'userProfile.email' | translate}}">

              <mat-error *ngIf="userDetailsProfileFormBuilder.email.hasError('required')">
                {{'form.validation.required' | translate}}
              </mat-error>
              <mat-error *ngIf="userDetailsProfileFormBuilder.email.hasError('email')">
                {{'form.validation.emailFormat' | translate}}
              </mat-error>
            </mat-form-field>

<!--            <mat-form-field color="primary">-->
<!--              <mat-label>{{'userProfile.dateOfBirth' | translate}}</mat-label>-->
<!--              <input matInput [matDatepicker]="picker" placeholder="{{'form.chooseADate' | translate}}"-->
<!--                     formControlName="dateOfBirth">-->
<!--              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--              <mat-datepicker #picker></mat-datepicker>-->
<!--            </mat-form-field>-->

            <app-date-field
              formControlName="dateOfBirth"
              label="{{'form.chooseADate' | translate}}"
              [required]="true"
              [min]="'1900-01-01'"
              [max]="'2020-00-01'"
            />

          </div>

          <div class="user-details-profile-form-content">
            <mat-form-field color="primary" appearance="outline">
              <mat-label>{{'userProfile.gender' | translate}}</mat-label>
              <mat-select formControlName="genderId">
                <mat-option *ngFor="let gender of genders" [value]="gender.value">
                  {{gender.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field color="primary" appearance="outline">
              <mat-label>{{'userProfile.maritalStatus' | translate}}</mat-label>
              <mat-select formControlName="maritalStatusId">
                <mat-option *ngFor="let maritalStatus of maritalStatuses" [value]="maritalStatus.value">
                  {{maritalStatus.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field color="primary" appearance="outline">
              <input formControlName="numberOfDependants" matInput
                     placeholder="{{'userProfile.numberOfDependants' | translate}}"
                     type="number"
                     min="0"
                     max="10"
                     step="1">
            </mat-form-field>

            <mat-form-field color="primary" appearance="outline">
              <input formControlName="phoneNumber" matInput matInput #input maxlength="15"
                     placeholder="{{'userProfile.phoneNumber' | translate}}">
              <span matTextPrefix>+&nbsp;</span>
              <mat-icon matSuffix color="primary">phone</mat-icon>
              <mat-hint>{{'form.validation.phonePrefix' | translate }}</mat-hint>
              <mat-hint align="end">{{input.value.length}}/15</mat-hint>
            </mat-form-field>

          </div>
        </div>

        <mat-card-actions>
          <div class="user-details-profile-form-actions">
            <button [disabled]="!userDetailsProfileFormBuilder.form.valid" mat-raised-button type="submit"
                    color="primary">
              {{'form.update' | translate}}
            </button>
          </div>
        </mat-card-actions>
      </form>

    </mat-card-content>
  </mat-card>

</div>
