<div class="container">
  <mat-toolbar>
    <span class="registration-toolbar">{{'registration.title' | translate}}</span>
  </mat-toolbar>

  <div class="registration-container">
    <mat-card class="registration-form">
      <mat-card-content>
        <!-- fields -->
        <form [formGroup]="formBuilder.form" class="my-form" (ngSubmit)="register()">

          <mat-form-field class="full-width">
            <mat-label>{{'registration.firstName' | translate}}</mat-label>
            <input matInput placeholder="{{'registration.firstName' | translate}}" name="firstName"
                   formControlName="firstName" required>

            <mat-error *ngIf="formBuilder.firstName.hasError('required')">
              {{'registration.validation.firstNameNull' | translate}} </mat-error>
            <mat-error *ngIf="formBuilder.firstName.hasError('minlength')">
              {{'registration.validation.firstNameMinLength' | translate}}</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>{{'registration.lastName' | translate}}</mat-label>
            <input matInput placeholder="{{'registration.lastName' | translate}}" name="lastName"
                   formControlName="lastName" required>

            <mat-error *ngIf="formBuilder.lastName.hasError('required')">
              {{'registration.validation.lastNameNull' | translate}}</mat-error>
            <mat-error *ngIf="formBuilder.lastName.hasError('minlength')">
              {{'registration.validation.lastNameMinLength' | translate}}</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>{{'registration.email' | translate}}</mat-label>
            <input matInput placeholder="{{'registration.email' | translate}}" name="email"
                   formControlName="email" required>
            <!--            <mat-error *ngIf="isUsernameAvailable('WilFerraciolli@wiltech.com')">Name taken biatch</mat-error>-->
            <!--            <mat-error *ngIf="formBuilder.email.hasError('alreadyExists')">Name taken  </mat-error>-->
            <mat-error *ngIf="formBuilder.email.hasError('required')">
              {{'registration.validation.emailNull' | translate}}</mat-error>
            <mat-error *ngIf="formBuilder.email.hasError('email')">
              {{'registration.validation.emailFormat' | translate}}</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>{{'registration.password' | translate}}</mat-label>
            <input matInput placeholder="{{'registration.password' | translate}}" name="password"
                   formControlName="password" required
                   [ngClass]="{ 'is-invalid': submitted && formBuilder.password.errors }"
                   [type]="hide? 'password' : 'text'">
            <mat-icon color="primary" matSuffix
                      (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

            <mat-error *ngIf="formBuilder.password.hasError('required')">
              {{'registration.validation.passwordNull' | translate}}</mat-error>
            <mat-error *ngIf="formBuilder.password.hasError('pattern')">
              {{'registration.validation.passwordPattern' | translate}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'registration.dateOfBirth' | translate}}</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="{{'form.chooseADate' | translate}}"
                   formControlName="dateOfBirth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <!-- buttons -->
          <mat-card-actions>
            <div class="registration-form-actions">
              <a routerLink="/login" class="btn btn-link">{{'registration.login' | translate}}</a>
              <button [disabled]="loading || !formBuilder.form.valid" mat-raised-button type="submit" color="primary">
                {{'registration.register' | translate}}
              </button>
            </div>
          </mat-card-actions>
        </form>

      </mat-card-content>
    </mat-card>
  </div>
</div>
