@import 'src/app/shared/styles/mixins/typography';
@import 'src/app/shared/styles/mixins/media-query';

.home {

  &-title {
    @include mainHeader-style();
  }

  &-contentBody {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    min-height: 700px;

    @include media-query-lg {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  &-card {
    width: 90%;
    padding-top: 10px;

    @include media-query-lg {
      width: 45%;
      padding-top: 20px;
    }
  }
}


