.person-photo {
  &-image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
  }

  &-image {
    width: 56px; /* Adjust the width as needed */
    height: 56px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the div round */
    background-color: #ddd; /* Set a background color or use a background image */
    color: #555; /* Set the color of the icon or text */
    box-shadow: 0px 6px 5px #ccc;
  }

  &-image-create {
    display: flex;
    align-items: center;
  }

  &-image-create-input {
    display: none;
  }

  &-image-create-button {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f9f9f9
  }
}
