<div class="container">
  <mat-toolbar>
    <span class="login-toolbar">{{'login.title' | translate}}</span>
  </mat-toolbar>

  <div class="login-container">
    <mat-card class="login-form">
      <mat-card-content>
        <form [formGroup]="formBuilder.form" (ngSubmit)="login()">

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{'login.email' | translate}}</mat-label>
            <input matInput placeholder="{{'login.email' | translate}}" name="email"
                   formControlName="username" required>

            <mat-error *ngIf="this.formBuilder.username.hasError('required')">{{usernameRequiredErrorLabel}}</mat-error>
            <mat-error *ngIf="this.formBuilder.username.hasError('minlength')">{{usernameMinLenghtLabel}}</mat-error>
            <mat-error *ngIf="this.formBuilder.username.hasError('email')">{{usernameFormatErrorLabel}}</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{'login.password' | translate}}</mat-label>
            <input matInput placeholder="{{'login.password' | translate}}"
                   name="password"
                   formControlName="password" required
                   [type]="hide? 'password' : 'text'">
            <mat-icon color="primary" matSuffix
                      (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

            <mat-error *ngIf="this.formBuilder.password.hasError('required')">{{passwordRequiredErrorLabel}}</mat-error>

          </mat-form-field>

          <mat-card-actions>
            <div class="login-form-actions">
              <a routerLink="/register" class="btn btn-link">{{'login.register' | translate}}</a>
              <span class="spacer"></span>
              <button [disabled]="loading || !formBuilder.form.valid" mat-raised-button type="submit"
                      color="primary">{{'login.login' | translate}}
              </button>
              <span *ngIf="loading">Loading</span>
            </div>
          </mat-card-actions>
        </form>

      </mat-card-content>
    </mat-card>
  </div>

</div>
