@import 'src/app/shared/styles/mixins/typography';
@import 'src/app/shared/styles/mixins/media-query';


.person-list {
  min-height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;

  @include media-query-lg {
    padding-top: 50px;
  }

  &-search {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &-search-actions {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-search-actions span {
    display: none;

    @include media-query-lg {
      display: inherit;
    }
  }

  &-content {
    min-height: 600px;
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  &-content-card {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;

    @include media-query-lg {
      flex-direction: row;
    }
  }

  &-content-card-image {
    background-size: cover;
    padding: 0;

    @include media-query-lg {
      padding: 0 20px;
    }
  }

  &-content-person-names {
    @include mainHeader-style();
  }

  &-content-card-actions {
    display: flex;
    flex-direction: row;
  }
}
